rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Anyone can read posts
    match /posts/{postId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    // Anyone can read profile
    match /profile/{docId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
